@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --printeast-bg: #F9F8F6;
  --printeast-primary: #111827;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--printeast-bg);
  color: var(--printeast-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}